# Port the BFF Service listens on (Elastic Beanstalk overrides this with PORT=5000)
PORT=3000

# Recipient service mappings: {recipient-service-name}={recipientURL}
# BFF works only with the Product Service and the Cart Service.
product=https://byb2npd55e.execute-api.eu-central-1.amazonaws.com/prod/products
cart=http://raman-aleksandrou-cart-api-prod.eu-central-1.elasticbeanstalk.com/api
